<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" href="/static/css/global.css">
{% block other_res %}
{% endblock %}
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/static/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
        <li class="layui-nav-item layui-this">
          <a href="#">交流<i class="layui-icon"></i>  </a>
        </li>
        <li class="layui-nav-item layui-this">
          <a href="#">白度<i class="layui-icon"></i>  </a>
        </li>
    </ul>

    <ul class="layui-nav fly-nav-user">
        <!-- <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:;">

              <cite class="layui-hide-xs">予以</cite>
              <i class="iconfont icon-renzheng" title=" 超级无敌大牛标志 "></i>

              <i class="layui-badge fly-badge-vip">VIP 疼逊炒鸡会员 </i>
            
            <img src="/static/images/11.jpg">
          </a>

          <dl class="layui-nav-child">
            <dd><a href="#"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="#"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <dd><a href="#"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a href="#" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
        
        <li class="layui-nav-item">
          <a href=""><span class="layui-badge">unread</span></a>
        </li> -->

          <li class="layui-nav-item">
            <a class="iconfont icon-touxiang layui-hide-xs" href="#"></a>
          </li>
          <li class="layui-nav-item">
            <a href="login">登录</a>
          </li>
          <li class="layui-nav-item">
            <a href="reg">注册</a>
          </li>
    </ul>
  </div>
</div>
{% block body %}

{% endblock %}


<div class="fly-footer">
  <p>Power by PyFly</p>
  <p>
  水水水水水水水水
  </p>
</div>

<script src="/static/layui/layui.js"></script>

{% block other_js %}
{% endblock %}

</body>
</html>

